<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        メモ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @memos.each do |memo| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to memo_path(memo) do %>
                <% if memo.image? %>
                <%= image_tag memo.image.to_s %>
                <% else %>
                  <%= image_tag "no-image.png" %>
                <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <% if memo.image? %>
                    <%= image_tag memo.image.to_s %>
                    <% else %>
                      <%= image_tag "no-image.png" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to memo.user.username, user_path(memo.user) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= memo.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
